@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
 
 scroll-behavior: smooth;

}
body {
max-width: 100vw;
  overflow-x: hidden;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}
h1 {
  font-size: 64px;
}
p {
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 24px;
}
li {
  list-style: none;
}
.flex {
  display: flex;
}
a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
  scroll-behavior: smooth;
}
nav,
.scroll,
header,
.about-me__info--container{
  opacity: 1;
  visibility: visible;
  transition: all 600ms 400ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open header,
.modal--open .about-me__info--container{
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}
i:hover {
  opacity:0.7;
}
.flex-1 {
  flex: 1;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}
.container {
  padding: 50px 0;
}
.text--blue {
  color: blue;
}


.section__title {
  margin-bottom: 20px;
  animation: side-fade 650ms ease 400ms backwards;
}
.section__description {
  text-align: center;
  margin-bottom: 28px;
  animation: side-fade 650ms ease 600ms backwards;
}
.link__hover-effect::after {
  content: "";
  position: absolute;
  height:3px;
  width: 0%;
  bottom: -3px;
  right: 0;
  font-weight: bold;
  transition: all 450ms;
}
.link__hover-effect:hover:after {
 width: 100%;
 left: 0;
}
.link__hover-effect--white:after{
  background-color: white;
}
.link__hover-effect--black:after{
  background-color: black;
}
.click {
  transition: all 300ms ease;
}
.click:hover {
transform: scale(1.1);

}
.click:active {
  transform: scale(0.8);
}
button {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}

input, textarea {
  border: none;
  width: 100%;
  padding: 16px;
  padding-bottom: 6px;
  font-size: 16px;
  background-color: transparent;
outline: none;
  border-bottom: 2px solid #c0c4cc;
  color: white;
  transition: all 300ms ease;
}
input:hover, textarea:hover {
border-color: #fffdfd;
}
input:focus, textarea:focus {
  border-color: blue;
}

label {
  font-size: 14px;
  font-weight: bold;

}
textarea {
  resize: vertical;
  height: 100px;
  margin-top: 6px;
}
.dark-theme .about-me--title,
.dark-theme .section__title,
.dark-theme .section__description,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .working__description--para,
.dark-theme .header__para,
.dark-theme .about-me__info--paragraph
{
color: white;
}

.dark-theme section{
  background-color : #242424;
}

.dark-theme #personal-logo {
  filter: none;
}
.dark-theme .scroll__icon{
  border-color: white;

}
.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect:after
{
 background-color: white;

}


.dark-theme .mail__btn {
background-color:white;
color: black;
}





/* navigation bar*/

#personal-logo {
  width: 50px;
  height: 50px;
  filter: invert(1) brightness(-1000%);
  transform: scale(1.7);
}

nav {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav__link--list {
  display: flex;
}
.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  font-weight: bold;
}
.fa-adjust {
  font-size: 20px;
}

/* menu*/ 
.menu {
  display: none;
}

.menu__Background {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: #242424;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all 300ms ease;
}
.menu__open {
 max-height: 100vh;
 overflow: hidden;
}
.menu__open .menu__Background {
  transform: translateX(0);
  visibility: visible;
  opacity: 1; 
} 

.close--menu {
  position: absolute;
  top: 5px;
  right: 10px;
 
}
.menu--button {
  color: blue;
  font-size: 24px;
  transition: all 300ms ease;
}
.menu--button:hover {
  color: #837f7f;
}

.menu--list {
  text-align: center;
}
.menu--links {
  margin: 24px 0;
 font-size: 24px;

  
}

.menu__link--anchor {
color: #fffdfd;
font-weight: 600;
}

/*Modal*/

.modal{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 90%;
 max-width: 1100px;
 height: 700px;
 border-radius: 20px;
 overflow: hidden;
 display: flex;
 visibility: hidden;
 z-index: -1;
 transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}
.modal__half{
  width: 50%;
  padding: 40px 72px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
 transition: all 300ms ease-in;
}
.modal--open .modal{
  z-index: 60;
  visibility: visible;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
}
.modal--open .modal__half--about, 
.modal--open .modal__half--contact
 {
  transform: translateX(0%);
  
}


.modal__half--about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
  
}
.modal__half--contact {
transform: translateX(110%);
  background-color: #242424;
  color: white;
}

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}
.language__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: video-animate 650ms ease 800ms backwards;
}
.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}
.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}
.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms ease;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}
.modal__title {
 font-size: 26px;
 
}
.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}
.modal__sub-title, .modal__para, .modal__title {
  text-align: start;
}
.modal__para {
  line-height: 1.45;
  font-size: 16px;
}
.modal__title--contact, .modal__sub-title--contact {
  color: white;
}
.form__item {
  margin-bottom: 20px;
}
.form__submit {
  background-color: blue;
  padding: 12px 24px;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  max-width: 240px;
  width: 100%;
  transition: all 300ms ease;
}
.form__submit:hover {
  background-color: #ffffff;
  color: #242424;
}
.form__submit:active {
  color: blue;
  background-color:transparent;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -2;
  
}
.modal__overlay--visible{
  z-index: 1;
  display: flex;
}
.modal__overlay--success {
  background-color: #09cb02;
  font-size: 40px;
  padding: 0 28px;
  font-weight: 700;
  text-align: center;
 
}
.modal__overlay--loading {
background: blue;

font-size: 80px;

}
.fa-spinner {
animation: spinner 750ms infinite linear;
}
.fa-spinner {
  opacity: 1;
}


@keyframes spinner {
  0%{
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal__exit{
position: absolute;
top: 30px; 
right: 40px;
color: #ffffff;
font-size: 36px;
z-index: 100;
}

/* About-me */

#about-me {
  min-height: 100vh;
  
}


.about-me__info--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
 
}
.about-me--content {
  
  padding: 0 30px;
}
.about-me__picture--mask {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.26);
  margin-bottom: 28px;

  animation: animate--profile-pic 800ms 200ms backwards;
  
}

@keyframes animate--profile-pic {
    0% { 
      transform: scale(0);
      

    }
    80% { 
      transform: scale(1.1);
      

    }
    100% { 
      transform: scale(1);

    }
 }
.about-me__picture {
  width: 100%;

  /* IMPROVING MY PICTURE */
  transform: scale(1.5);
  padding-top: 8px;
}
.about-me--title {
  font-size: 120px;
  margin-bottom: 16px;
  text-align: start;
  animation: fade-in 650ms 400ms backwards ;
}
.about-me__info--paragraph {
  font-size: 24px;
  line-height: 2;
  max-width: 550px;
  animation: fade-in 650ms 600ms backwards ;
}
.about-me__link {
background-color: blue;
  font-size: 20px;
  color: white;
   width: 32px;
   height: 32px;
   font-size: 14px;
   margin-right: 12px ;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}
.about-me__links {
  margin-top: 16px;
  display: flex;
  animation: fade-in 650ms 800ms backwards ;
}



@keyframes fade-in {
  0%{
    opacity: 0;
    transform: translatey(40px);

  }
  100%{
    opacity: 1;
    transform: translatey(0);
    
  }
}

.about-me__video-container {
flex:1;
height: 100%;
align-items:center;
display: flex;
justify-content: center;
 
}
.about-me__video {
  width : 100%;
  max-width: 700px;
  height: 100%;
  min-height:360px;
max-height: 400px;
  
  animation: video-animate 1200ms 800ms backwards;

}
@keyframes video-animate {
  0%{
    opacity: 0;
    transform: translatex(-40px);
  }
  100%{
    opacity: 1;
    transform: translatex(0);
  }
 
}
.about-me__robot { 
  display: inline-block;

}
.mail__btn {
  width: 70px;
  height: 70px;;
  border-radius: 50%;
  font-size: 32px;
  color: white;
  border: none;
  background-color: #242424;
  position: absolute;
  bottom: 29px;
  right: 40px;
  z-index: 100;
  position: fixed;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.5);
}
.scroll {
  position: absolute;
bottom: 20px;
left:50%;
transform: translateX(-50%);

}
.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll__icon::after {
  content: "";
background-color: #242424;
  height : 6px;
  width: 4px;
  border-radius: 50%;
  animation: scroll-animation 1000ms infinite alternate-reverse;

}
@keyframes scroll-animation {
  0%{
    transform: translateY(3px);
  
  }
  100%{
    transform: translateY(-3px);
  }
}
/*projects*/


@keyframes side-fade {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.project {
  margin-bottom: 135px;
}
.project:last-child {
  margin-bottom : 40px;
}
.project__img {
  width: 100%;
  transition: all 450ms ease;
  animation: fade-in 650ms 800ms backwards ;
}

.project__wrapper {
  display: flex;
  border-radius: 16px;
  box-shadow: 0px 20px 80px rgb(0, 0, 0, 0.45);
  overflow: hidden;
  position: relative;
  animation: fade-in 650ms 600ms backwards ;
}

.project__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(15, 14, 14);
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}
.project:hover .project__wrapper::before {
  opacity: 0.7;
}
.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(7px);
}
.project:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);
    
    
}
.project__list {
  padding-top: 40px;
}
.project__description {
  position: absolute;
  transform: translateY(0%);
  top: 50%;
  left: 90px;
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: all 450ms;
  
}
.project__description--title{
    font-size: 40px;

}
.project__description--para {
 margin: 16px 0;
}
.project__description--link {
    font-size:  20px;
    margin-right: 16px;

}
.project__description--title,
.project__description--sub-title,
.project__description--para, 
.project__description--link {
  color: white;
  text-align: left;

}

/*footer*/

footer {
  position: relative;
  background-color: #242424;

}
.footer__logo--img{
  width: 100%;
  transform: scale(1.9);
}
.footer__logo--wrapper{
  width: 70px;
  overflow: hidden;
  
}

.footer__row{
  padding: 8% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.footer__social--link, .footer__copyright, .footer__logo--popper{
color: white;
font-size: 24px;
}
.footer__social--list {
  width: 100%;
  max-width: 500px;
  margin: 24px 0;
  display: flex;
  justify-content: space-around;
}
.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: bold;
  opacity: 0;
  transition: all 450ms ease;
}
.footer__anchor {
  position: relative;
}
.footer__anchor:hover .footer__logo--popper{
transform: translateX(40px);
opacity: 1;
}

/*Working with me*/
.working__container {
  width: 100%;
  padding: 0 20px;
}
.working {
  margin: 34px 0;
  display: flex;
  flex-direction: row-reverse;
}
.working__img--wrapper {
  width: 50%;
  display: flex;
  flex: 1;
  animation: fade-in 650ms ease 1200ms backwards;
  
}
.working__img {
  width: 100%;
  
}
.working__description {
  width: 40%;
  margin: 0 24px;
  animation: side-fade 650ms ease 1000ms backwards;
}

.working__row {
  display: flex;
  flex-direction: column;
}
.adaptability {
  display: flex;
  flex-direction: row;
}
.working__title {
  font-size:42px;
  animation: side-fade 650ms ease 800ms backwards;
}


/*
SHAPES

*/
.shape{
  position:fixed;

}
.shape--0 {
  top: 15vh;
  left: 5vw;
}

.shape--1 {
  top: 15vh;
  left: 50vw;
}
.shape--2 {
  top: 15vh;
  left: 80vw;
}
  
.shape--3 {
  top: 50vh;
  left: 5vw;
}
  
.shape--4 {
  top: 50vh;
  left: 50vw;
}
  
.shape--5 {
  top: 50vh;
  left: 80vw;
}
  
.shape--6 {
  top: 80vh;
  left: 5vw;
}
  
.shape--7 {
  top: 80vh;
  left: 50vw;
}
  
.shape--8 {
  top: 80vh;
  left: 80vw;
}
  

  
  

/* everything up until tablets*/
@media (max-width: 768px) {
nav {
  height: 64px;
}
.about-me--title {
  font-size: 80px;
}
h1{
  font-size: 34px;
 

}
.modal {
  
  height: auto;
 
  width: 100%;
  flex-direction: column;
  border-radius: 0;
}
.modal__half {
  width: 100%;
}
p{
  font-size: 20px;
}
.section__description {
  display: none;
}
.working__title {
  margin-top: 24px;
  font-size: 28px;
}
.about-me__info--paragraph {
  font-size: 18px;
  margin: 0px ;
}
.about-me__robot{
  display: none;
}
p{
  margin: 12px 34px;
}
.project__description--title{
font-size: 32px;
}
.project__description--para {
  font-size: 14px;

}
.project__description {
  padding-right:38px;
  left: 30px;
}
.working {
  margin: 34px 0;
  display: flex;
  flex-direction: column;
}
.working__description {
  width: 100%;
  padding: 24px 0;
}
.working__img--wrapper {
  width: 100%;
}

}


/* small phones*/
@media (max-width: 480px) {
 .nav__link--anchor {
   display: none;
 }
 .mail__btn {
  display: none;
 }
 .nav--adjust{
  display: flex;
 }
 .menu {
  display: block;
 }
 .mail__btn {
  display: none;
 }
 .modal__half{
  padding: 24px;
}
.modal__half--about {
  display: none;
 }
 .project__description--para {
  display: none;
 }
 .project__description {
  font-size: 12px;
  padding: 0 14px;
  left: 0;
  width:100%;
 }
 .project__description--sub-title {
  text-align: center;
  margin: 12px 0;
 }
 .project__description--title {
  text-align: center;
  line-height:1;
  font-size: 24px;
 }
 .working__description--para {
  font-size: 14px;
 }
 
 .project__description--links {
  display: flex;
  justify-content: center;
 }
.footer__row {
  padding: 0 12px;

}
.footer__social--link{
  font-size: 14px;
}
.footer__copyright {
  font-size: 14px;
}


}
@media (max-height:800px) {
  
  .modal__half{
    padding: 24px;
  }

  nav {
    height: 64px;
  }
  .about-me--title {
    font-size: 80px;
  }
  h1{
    font-size: 34px;
   
  
  }
  
  p{
    font-size: 20px;
  }
  .section__description {
    display: none;
  }
  .working__title {
    margin-top: 24px;
    font-size: 28px;
  }
  .about-me__info--paragraph {
    font-size: 18px;
    margin: 0px ;
  }
  .about-me__robot{
    display: none;
  }
  p{
    margin: 12px 34px;
  }
  .project__description--title{
  font-size: 32px;
  }
  .project__description--para {
    font-size: 14px;
  
  }
  .project__description {
    padding-right:38px;
    left: 30px;
  }
  .working {
    margin: 34px 0;
    display: flex;
    flex-direction: column;
  }
  .working__description {
    width: 100%;
    padding: 24px 0;
  }
  .working__img--wrapper {
    width: 100%;
  }
}